In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os

In [8]:
# locate the file types
shp_dir = os.path.join(os.getcwd(), '..', 'output/HIFLD/centroids')
file_types = [x for x in os.listdir(shp_dir) if not x.endswith('.csv')]

In [9]:
# test find the shapefile name
[each for each in os.listdir(os.path.join(shp_dir, file_types[0])) if each.endswith('.shp')]

['FDIC_Insured_Banks_Sample.shp']

In [10]:
file_types

['FDIC_Insured_Banks_Sample',
 'Fire_Stations',
 'PublicSchools_Sample',
 'FDIC_Insured_Banks',
 'AllPlacesOfWorship',
 'Hospitals',
 'CollegesUniversities',
 'UrgentCareFacs',
 'PublicSchools',
 'Prison_Boundaries',
 'AllPlacesofWorship_Sample']

In [13]:
# random read 
for eachfiletype in file_types:
    # locate the shp file
    shp_src = os.path.join(shp_dir, 
                           eachfiletype, 
                           [each for each in os.listdir(os.path.join(shp_dir, eachfiletype)) if each.endswith('.shp')][0])
    if 'random_reads' not in locals():
        random_reads = gpd.read_file(shp_src)
    else:
        random_reads = random_reads.append(gpd.read_file(shp_src))

    print(eachfiletype, random_reads.shape[0])
    
print(random_reads.shape[0])

FDIC_Insured_Banks_Sample 14206
Fire_Stations 19206
PublicSchools_Sample 33412
FDIC_Insured_Banks 38412
AllPlacesOfWorship 43412
Hospitals 48412
CollegesUniversities 53412
UrgentCareFacs 58222
PublicSchools 63222
Prison_Boundaries 68222
AllPlacesofWorship_Sample 91116
91116

In [14]:
# randomize order
tmp = random_reads.sample(random_state=100, n=20000)\
    .drop('Place_type', axis=1)

# assign user
np.random.seed(seed=10)
tmp['user_id'] = np.random.choice(np.arange(start=1, stop=5000, step=1), 
                                  20000, 
                                  replace=True)

# assign location start
dr = pd.date_range(start='2000-01-01', end='2024-01-01', freq='D')

np.random.seed(seed=11)
tmp['start_date'] = np.random.choice(dr, 20000, replace=True)

np.random.seed(seed=12)
tmp['end_duration']=np.random.choice(np.arange(365,1000), 20000, replace=True).astype('timedelta64[D]')
tmp['end_date'] = tmp.apply(lambda x: x.start_date+x.end_duration, axis=1)

In [15]:
tmp

,Full_Addre,source_lon,source_lat,geometry,user_id,start_date,end_duration,end_date
10600,"PO BOX 100, FORT THOMAS, AZ 85536",-109.964432,33.037331,POINT (-109.96443 33.03733),1290,2010-05-03,755 days,2012-05-27
409,"30 North Lasalle Street, Chicago, Illinois 60602",-87.632478,41.882829,POINT (-87.63248 41.88283),4624,2014-03-28,618 days,2015-12-06
12242,"315 W. 5TH STREET, BOWIE, AZ 85605",-109.489800,32.325286,POINT (-109.48980 32.32529),1345,2019-11-16,606 days,2021-07-14
986,"702 BELMONT RD, GRAND FORKS, ND 58201",-97.028822,47.915079,POINT (-97.02882 47.91508),3442,2011-01-06,624 days,2012-09-21
7230,"5010 E SCHOOL STREET, DUGWAY, UT 84022",-112.747705,40.226383,POINT (-112.74770 40.22638),1181,2003-07-17,797 days,2005-09-21
...,...,...,...,...,...,...,...,...
305,"Old Mathis Hollow Road, Stewart, TN 37175",-87.907534,36.316666,POINT (-87.90753 36.31667),3304,2003-03-20,861 days,2005-07-28
4628,"65 WATTS LANE, THOMASTON, ME 04861",-69.183878,44.082946,POINT (-69.18388 44.08295),3568,2002-05-28,722 days,2004-05-19
3291,"10901 LITTLE PATUXENT PKWY, COLUMBIA, MD 21044",-76.878430,39.211569,POINT (-76.87843 39.21157),2662,2008-02-08,406 days,2009-03-20
6398,"PO BOX 70269, SALT LAKE CTY, UT 84170",-111.996615,40.742710,POINT (-111.99662 40.74271),121,2006-12-07,548 days,2008-06-07
1399,"133 Grand Avenue, Paonia, Colorado 81428",-107.597824,38.866130,POINT (-107.59782 38.86613),1372,2017-12-13,842 days,2020-04-03

In [16]:
# quick print
tmp.sort_values(['user_id','start_date'])

,Full_Addre,source_lon,source_lat,geometry,user_id,start_date,end_duration,end_date
6972,"18248 HILLSIDE LN, DOLAND, SD 57436",-98.048963,44.737366,POINT (-98.04896 44.73737),1,2004-12-09,604 days,2006-08-05
1940,"244 ELM ST, HILL CITY, SD 57745",-103.574269,43.932597,POINT (-103.57427 43.93260),1,2006-02-04,946 days,2008-09-07
7425,"PO BOX 9823, BEND, OR 97708",-121.344782,43.978130,POINT (-121.34478 43.97813),1,2018-07-12,456 days,2019-10-11
634,"10208 Bluegrass Road, Knoxville, TN 37922",-84.106168,35.860066,POINT (-84.10617 35.86007),2,2001-05-11,790 days,2003-07-10
14075,"7338 SOUTH ALTON WAY, CENTENNIAL, CO 80112",-104.882937,39.583518,POINT (-104.88294 39.58352),2,2004-01-09,876 days,2006-06-03
...,...,...,...,...,...,...,...,...
6784,"1057 LINCOLN ST SW, ALBANY, OR 97321",-123.122892,44.627669,POINT (-123.12289 44.62767),4999,2006-04-17,599 days,2007-12-07
2045,"384 COURT ST, PLYMOUTH, MA 02360",-70.691150,41.978494,POINT (-70.69115 41.97849),4999,2010-05-21,662 days,2012-03-13
2602,"5037 32ND AVE, HUDSONVILLE, MI 49426",-85.862753,42.861220,POINT (-85.86275 42.86122),4999,2012-09-17,652 days,2014-07-01
3648,"2525 GLENN HENDREN DR, LIBERTY, MO 64068",-94.424104,39.274506,POINT (-94.42410 39.27451),4999,2016-07-19,553 days,2018-01-23
2981,"5700 N BRUCE ST, N LAS VEGAS, NV 89081",-115.124639,36.264440,POINT (-115.12464 36.26444),4999,2016-11-18,606 days,2018-07-17

In [36]:
# retrieve filenames within target folder
obj1 = pd.Series(os.listdir(os.path.join(os.getcwd(), '../..')))

# filter to objects of name convention
itemlist = obj1.loc[obj1.apply(lambda x: x.startswith('test_address'))]

# identify the most recent version
max_item = itemlist.apply(lambda x: x.split('.')[0].split('v')[1]).astype(int).max()

In [37]:
max_item+1

2

In [38]:
# test output address history csv

tmp1 = tmp.sort_values(['user_id','start_date'])
tmp1

,Full_Addre,source_lon,source_lat,geometry,user_id,start_date,end_duration,end_date
6972,"18248 HILLSIDE LN, DOLAND, SD 57436",-98.048963,44.737366,POINT (-98.04896 44.73737),1,2004-12-09,604 days,2006-08-05
1940,"244 ELM ST, HILL CITY, SD 57745",-103.574269,43.932597,POINT (-103.57427 43.93260),1,2006-02-04,946 days,2008-09-07
7425,"PO BOX 9823, BEND, OR 97708",-121.344782,43.978130,POINT (-121.34478 43.97813),1,2018-07-12,456 days,2019-10-11
634,"10208 Bluegrass Road, Knoxville, TN 37922",-84.106168,35.860066,POINT (-84.10617 35.86007),2,2001-05-11,790 days,2003-07-10
14075,"7338 SOUTH ALTON WAY, CENTENNIAL, CO 80112",-104.882937,39.583518,POINT (-104.88294 39.58352),2,2004-01-09,876 days,2006-06-03
...,...,...,...,...,...,...,...,...
6784,"1057 LINCOLN ST SW, ALBANY, OR 97321",-123.122892,44.627669,POINT (-123.12289 44.62767),4999,2006-04-17,599 days,2007-12-07
2045,"384 COURT ST, PLYMOUTH, MA 02360",-70.691150,41.978494,POINT (-70.69115 41.97849),4999,2010-05-21,662 days,2012-03-13
2602,"5037 32ND AVE, HUDSONVILLE, MI 49426",-85.862753,42.861220,POINT (-85.86275 42.86122),4999,2012-09-17,652 days,2014-07-01
3648,"2525 GLENN HENDREN DR, LIBERTY, MO 64068",-94.424104,39.274506,POINT (-94.42410 39.27451),4999,2016-07-19,553 days,2018-01-23
2981,"5700 N BRUCE ST, N LAS VEGAS, NV 89081",-115.124639,36.264440,POINT (-115.12464 36.26444),4999,2016-11-18,606 days,2018-07-17

In [39]:
output_path = os.path.join(os.getcwd(), '../..','test_address_{0}_v{1}.csv'.format(tmp.shape[0], max_item+1))
output_path

'/Users/jphuong/CLAD_Geospatial/notebooks/../../test_address_20000_v2.csv'

In [40]:
tmp1.to_csv(output_path, index=False)

# Simulate Residential History
* With OMOP sample of successful addresses (n = 10 per state)

In [2]:
os.chdir('..')
abs_path = os.getcwd()
print(abs_path)

C:\Users\bchan\OneDrive - UW\CLAD\CLAD_Geospatial

In [3]:
OMOP_sample_path = os.path.join(abs_path, 'output', 'OMOP_sample.csv')

OMOP_sample = pd.read_csv(OMOP_sample_path)
OMOP_sample

,Location_id,address_1,address_2,city,state,zip,county,location_source_value,latitude,longitude,address_type,state_abbr,flag
0,5021,192 Dero Drive,NaN,Ordot,GU,96910,NaN,"192 DERO DRIVE, ORDOT, GU 96910",13.446023,144.758462,Street Address,GU,SUCCESSFUL ADDRESS
1,5237,169 San Isidro St,NaN,Mangilao,GU,96923,NaN,"169 SAN ISIDRO ST, MANGILAO, GU 96923",13.450689,144.797855,Street Address,GU,SUCCESSFUL ADDRESS
2,8495,340 Carnation Avenue,NaN,Mangilao,GU,96913,NaN,"340 CARNATION AVENUE, MANGILAO, GU 96913",13.486157,144.843145,Street Address,GU,SUCCESSFUL ADDRESS
3,8705,21 Barrio Monacillos,NaN,San Juan,PR,00929,NaN,"CARRETERA 21 BARRIO MONACILLOS, SAN JUAN, PR 0...",18.388474,-66.070766,Street Address,PR,SUCCESSFUL ADDRESS
4,8776,520 Harmon Loop,NaN,Harmon,GU,96929,NaN,"520 HARMON LOOP, HARMON, GU 96929",13.509667,144.824714,Street Address,GU,SUCCESSFUL ADDRESS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,13819,13794 Prairie Center Circle,NaN,Cheyenne,WY,82009,NaN,"13794 PRAIRIE CENTER CIRCLE, CHEYENNE, WY 82009",41.149766,-104.646764,Street Address,WY,SUCCESSFUL ADDRESS
519,14191,1550 United States Highway 20 South,NaN,Worland,WY,82401,NaN,"1550 UNITED STATES HIGHWAY 20 SOUTH, WORLAND, ...",43.956469,-108.020552,Street Address,WY,SUCCESSFUL ADDRESS
520,18197,445 South Main St,NaN,Lusk,Wyoming,82225,NaN,"445 South Main St, Lusk, Wyoming 82225",42.760784,-104.452038,Street Address,WY,SUCCESSFUL ADDRESS
521,5281,525 East Birch Street,NaN,Glenrock,WY,82637,NaN,"525 EAST BIRCH STREET, GLENROCK, WY 82637",42.861038,-105.857974,Street Address,WY,SUCCESSFUL ADDRESS
522,1769,2201 Main Street,NaN,Torrington,Wyoming,82240,NaN,"2201 Main Street, Torrington, Wyoming 82240",42.066390,-104.184365,Street Address,WY,SUCCESSFUL ADDRESS

In [7]:
# randomize order
# tmp = random_reads.sample(random_state=100, n=20000)\
#     .drop('Place_type', axis=1)

# assign user
np.random.seed(seed=10)
OMOP_sample['user_id'] = np.random.choice(np.arange(start=1, stop=200, step=1), 
                                  523, 
                                  replace=True)

# assign location start
dr = pd.date_range(start='2000-01-01', end='2024-01-01', freq='D')

np.random.seed(seed=11)
OMOP_sample['start_date'] = np.random.choice(dr, 523, replace=True)

np.random.seed(seed=12)
OMOP_sample['end_duration']=np.random.choice(np.arange(365,1000), 523, replace=True).astype('timedelta64[D]')
OMOP_sample['end_date'] = OMOP_sample.apply(lambda x: x.start_date+x.end_duration, axis=1)

OMOP_sample

,Location_id,address_1,address_2,city,state,zip,county,location_source_value,latitude,longitude,address_type,state_abbr,flag,user_id,start_date,end_duration,end_date
0,5021,192 Dero Drive,NaN,Ordot,GU,96910,NaN,"192 DERO DRIVE, ORDOT, GU 96910",13.446023,144.758462,Street Address,GU,SUCCESSFUL ADDRESS,10,2010-05-03,755 days 00:00:00,2012-05-27
1,5237,169 San Isidro St,NaN,Mangilao,GU,96923,NaN,"169 SAN ISIDRO ST, MANGILAO, GU 96923",13.450689,144.797855,Street Address,GU,SUCCESSFUL ADDRESS,126,2014-03-28,618 days 00:00:00,2015-12-06
2,8495,340 Carnation Avenue,NaN,Mangilao,GU,96913,NaN,"340 CARNATION AVENUE, MANGILAO, GU 96913",13.486157,144.843145,Street Address,GU,SUCCESSFUL ADDRESS,16,2019-11-16,606 days 00:00:00,2021-07-14
3,8705,21 Barrio Monacillos,NaN,San Juan,PR,00929,NaN,"CARRETERA 21 BARRIO MONACILLOS, SAN JUAN, PR 0...",18.388474,-66.070766,Street Address,PR,SUCCESSFUL ADDRESS,65,2011-01-06,624 days 00:00:00,2012-09-21
4,8776,520 Harmon Loop,NaN,Harmon,GU,96929,NaN,"520 HARMON LOOP, HARMON, GU 96929",13.509667,144.824714,Street Address,GU,SUCCESSFUL ADDRESS,114,2003-07-17,797 days 00:00:00,2005-09-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,13819,13794 Prairie Center Circle,NaN,Cheyenne,WY,82009,NaN,"13794 PRAIRIE CENTER CIRCLE, CHEYENNE, WY 82009",41.149766,-104.646764,Street Address,WY,SUCCESSFUL ADDRESS,145,2011-04-21,562 days 00:00:00,2012-11-03
519,14191,1550 United States Highway 20 South,NaN,Worland,WY,82401,NaN,"1550 UNITED STATES HIGHWAY 20 SOUTH, WORLAND, ...",43.956469,-108.020552,Street Address,WY,SUCCESSFUL ADDRESS,127,2020-02-19,534 days 00:00:00,2021-08-06
520,18197,445 South Main St,NaN,Lusk,Wyoming,82225,NaN,"445 South Main St, Lusk, Wyoming 82225",42.760784,-104.452038,Street Address,WY,SUCCESSFUL ADDRESS,41,2010-03-01,780 days 00:00:00,2012-04-19
521,5281,525 East Birch Street,NaN,Glenrock,WY,82637,NaN,"525 EAST BIRCH STREET, GLENROCK, WY 82637",42.861038,-105.857974,Street Address,WY,SUCCESSFUL ADDRESS,96,2015-07-25,366 days 00:00:00,2016-07-25
522,1769,2201 Main Street,NaN,Torrington,Wyoming,82240,NaN,"2201 Main Street, Torrington, Wyoming 82240",42.066390,-104.184365,Street Address,WY,SUCCESSFUL ADDRESS,167,2009-07-14,478 days 00:00:00,2010-11-04

In [8]:
OMOP_sample_sorted = OMOP_sample.sort_values(['user_id','start_date'])
OMOP_sample_sorted

,Location_id,address_1,address_2,city,state,zip,county,location_source_value,latitude,longitude,address_type,state_abbr,flag,user_id,start_date,end_duration,end_date
11,18259,48 Calle Cementerio,NaN,Jayuya,PR,00664,NaN,"48 CALLE CEMENTERIO, JAYUYA, PR 00664",18.214094,-66.582616,Street Address,PR,SUCCESSFUL ADDRESS,1,2010-08-21,439 days 00:00:00,2011-11-03
227,2924,12 Cole Rd,NaN,Raymond,ME,4071,NaN,"12 COLE RD, RAYMOND, ME 4071",43.887527,-70.415821,Street Address,ME,SUCCESSFUL ADDRESS,1,2016-10-10,976 days 00:00:00,2019-06-13
287,19696,2001 Mount Holly Huntersville Road,NaN,Charlotte,NC,28214,NaN,"2001 Mount Holly - Huntersville Road, Charlott...",35.315217,-80.965003,Street Address,NC,SUCCESSFUL ADDRESS,1,2019-10-28,764 days 00:00:00,2021-11-30
306,13340,440 Main Street,NaN,Lyons,Nebraska,68038,NaN,"440 Main Street, Lyons, Nebraska 68038",41.937543,-96.469247,Street Address,NE,SUCCESSFUL ADDRESS,1,2023-10-10,779 days 00:00:00,2025-11-27
327,7394,191 Woodport Rd,STE 205,Sparta,NJ,7871,NaN,"191 WOODPORT RD STE 205, SPARTA, NJ 7871",41.024647,-74.630576,Street Address,NJ,SUCCESSFUL ADDRESS,3,2006-10-30,614 days 00:00:00,2008-07-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,9048,1805 1St Ave N,NaN,Pell City,AL,35120,NaN,"1805 1ST AVE N, PELL CITY, AL 35120",33.587112,-86.287081,Street Address,AL,SUCCESSFUL ADDRESS,198,2018-01-09,499 days 00:00:00,2019-05-23
252,16434,2 South Franklin Street,NaN,Glenwood,Minnesota,56334,NaN,"2 South Franklin Street, Glenwood, Minnesota 5...",45.650139,-95.390079,Street Address,MN,SUCCESSFUL ADDRESS,198,2021-02-20,855 days 00:00:00,2023-06-25
315,4732,145 Lowell St,NaN,Manchester,NH,3104,NaN,"145 LOWELL ST, MANCHESTER, NH 3104",42.993533,-71.457871,Street Address,NH,SUCCESSFUL ADDRESS,199,2000-01-20,427 days 00:00:00,2001-03-22
268,9194,2861 South Harper Road,NaN,Corinth,MS,38834,NaN,"2861 SOUTH HARPER ROAD, CORINTH, MS 38834",34.909434,-88.556540,Street Address,MS,SUCCESSFUL ADDRESS,199,2003-09-13,544 days 00:00:00,2005-03-10
184,6293,1022 West Main Street,NaN,Bowling Green,KY,42101,NaN,"1022 WEST MAIN STREET, BOWLING GREEN, KY 42101",37.007103,-86.454949,Street Address,KY,SUCCESSFUL ADDRESS,199,2017-12-16,580 days 00:00:00,2019-07-19

In [10]:
OMOP_sample_sorted_path = os.path.join(abs_path, 'output', 'OMOP_sample_simulated_residential.csv')
OMOP_sample_sorted.to_csv(OMOP_sample_sorted_path, index=False)